BankClient/Connected Services/BankService/BankService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BankService.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BankService.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Account">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderAmount" type="xs:int" />
      <xs:element minOccurs="0" name="OrderCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PartnerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PartnerPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PinCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Account" nillable="true" type="tns:Account" />
  <xs:complexType name="TransactionHistory">
    <xs:sequence>
      <xs:element minOccurs="0" name="TransactionAmount" type="xs:double" />
      <xs:element minOccurs="0" name="TransactionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TransactionFee" type="xs:double" />
      <xs:element minOccurs="0" name="TransactionName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionHistory" nillable="true" type="tns:TransactionHistory" />
</xs:schema>